/* || importing inter font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* || reset */
*{ 
  margin: 0;
  padding: 0;
  
}

/*------------------------------------------------------------*/
/* || variables */

:root{
  /* || fonts */
  --FF:Inter;
  --FS:1rem;
  /* || colors */
  --HomeTextColor:#cefce3;
  --BtnColor1:#1E2D25;
  --BtnColor2:#BEDBE13D;
  --AboutColor1: #2EF288;
  --AboutColor2:#288e7a;
  --AboutColor3: #1f262d;
  --Border1: #2ef28999;



}

/*------------------------------------------------------------*/
/* || General styles */
html{
  scroll-behavior: smooth;
}

body{
  font-size: var(--FS);
  font-family: var(--FF);
  box-sizing: border-box;
}
/*------------------------------------------------------------*/

/* ||ajustement*/
.NotBold{
  font-weight: 300;
}

/*------------------------------------------------------------*/

/* || Home */

.Home{
  display: flex;
  flex-direction: column;
  gap: 2em;
  background: linear-gradient(to right,var(--AboutColor3),var(--AboutColor2),var(--AboutColor1));
  background-image: url("./imgs/HomeBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  height: 100svh;
}

.Home_Header_Logo{
  display: grid;
  place-items: center;
}
.Home_Header_Logo img{
  position: relative;
  top: 10px;
  width:clamp(6em,11cqi,8em);;
  height: auto;
}

.Home_Content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.5fr;
}


.Home_Content_Hero{
  grid-row: span 2;
  display: flex;
  justify-content: flex-end;
  
  
}

.Home_Content_Hero img{
  width:95%;
  height:clamp(22em, 32cqi,26em);
  margin-bottom: 3em;
  
}


.Home_Content_Title{
  display: grid;
  place-items: center;
}

.Home_Content_Title h1{
  width: 80%;
  color: var(--HomeTextColor);
  font-weight: bold;
  font-size: clamp(2.2em,4.5cqi,4em);
}

.Home_Content_Btn{
  flex-direction: column;
  gap: 1em;
  display: flex;
  margin: 2.5em auto;
}

.Home_Content_Btn button{
  color: white;
  border: 1px solid white;
  border-radius: 3em;
  font-size:clamp(0.7em,1.4cqi, 1.3em);
  padding: 0 9em;
  height: 4em;
  font-weight: bold;

}

.Btn_Volunteer{
  background-color: var(--BtnColor1);
}

.Btn_Association{
  background-color: var(--BtnColor2);
}

.Btn_Volunteer:hover,
.Btn_Association:hover{
 box-shadow: 1px 1px 8px var(--HomeTextColor);
 text-shadow: 1px 1px 8px var(--HomeTextColor);
}


.Home_Footer{
  margin: auto;
  display: flex;
  width: 90%;
  padding: 0.5em;
  color: white;
  margin-bottom: 0.4em;
}

.Home_Footer ul{
  display: flex;
  flex-grow: 1;
  gap: 5em;
  list-style: none;
  font-size:clamp(0.8em,1.6cqi, 1.2em);
  font-weight: 300;
}

.Home_Footer a{
  text-decoration: none;
}

.Home_Footer a:hover{
  opacity: 80%;
  font-weight: 250;
}


.Home_Footer a:visited{
  color: white;
}

.Home_Footer p{
  justify-self:end;
  font-size:clamp(0.7em,1.4cqi, 1em);
  font-weight: 100;
}

/*------------------------------------------------------------*/

/* || AboutPg */
.AboutPg{
  background: linear-gradient(to right,var(--AboutColor3),var(--AboutColor2),var(--AboutColor1));
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.About_Header{
  display: flex;
  flex-direction: row;
  gap: 2.5em;
  padding: 2em 0 0 7em;
  
}

.About_Home_Btn,
.About_LogIn_Btn{
  color: white;
  border: 0.1px solid var(--Border1);
  font-size: 1em;
  width: 11em;
  height: 3em;
  background-color: transparent;
  border-radius: 2em;
}

.About_Home_Btn:hover,
.About_LogIn_Btn:hover{
 box-shadow: 1px 1px 8px var(--HomeTextColor);
 text-shadow: 1px 1px 8px var(--HomeTextColor);
 cursor: pointer;
}

.About_Header a{
  text-decoration: none;
}

.About_Header a:visited{
  color: var(--HomeTextColor);
}

.About_Content{
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 2fr 1fr;
  
}

.About_Content_Hero{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row: span 2;
 
}

.About_Content_Hero img{
  width: 50%;
  height:auto;
  border-radius: 3em;
}

.About_Content_Desc{
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color:var(--HomeTextColor);
}

.About_Content_Desc_Logo{
  padding-left: 18em;
}

.About_Content_Desc p {
  font-size: 1.5em;
  text-align: justify;
  width: 80%;
  align-self: start;
}

.About_Content_SocialLinks{
  padding-top: 2em;
}

.About_Content_SocialLinks ul{
  display: flex;
  list-style: none;
}

.About_Content_SocialLinks li:hover{
  opacity: 85%;
}

.About_Footer{
  display: grid;
  place-items: center;
  color : white;
  font-size:clamp(0.7em,1.3cqi, 0.91em);
  font-weight: 200;
  padding-bottom: 1em;

}




@media (max-width: 762px) {
  .Home{
    background-color: black;
  }
}